.Input {
  display: flex;
  flex-direction: column;

  label {
    color: var(--Almost-Black, #3e4849);
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
  }

  .error {
    font-size: 12px;
    color: var(--Red, #ef7e6f);
  }
}
