.Button {
  display: inline-flex;
  height: 40px;
  max-width: calc(100% - 32px);
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
  color: var(--Black);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--Gray-Light, #f2f2f2);
  transition: all 0.2s ease-in-out;

  &:hover {
    background: var(--Gray-Medium, #dedede);
  }

  &:disabled {
    opacity: 0.5;
    background: var(--White, #fff);
  }

  &.full {
    border-radius: 999px;
  }

  &.blue {
    background: var(--Blue-Light, #e9f4f0);
    border-color: var(--Blue-Light, #e9f4f0);

    &:hover {
      background: var(--Turquoise, #b3d6cd);
    }

    &:disabled {
      opacity: 0.5;
      background: var(--Blue-Light, #e9f4f0);
    }
  }
}
