@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Colors */
  --ec-primary-color-50: #f4f9f8;
  --ec-primary-color-100: #dbece7;
  --ec-primary-color-200: #b3d6cd;
  --ec-primary-color-300: #8bbdb2;
  --ec-primary-color-400: #639e93;
  --ec-primary-color-500: #498379;
  --ec-primary-color-600: #386961;
  --ec-primary-color-700: #305550;
  --ec-primary-color-800: #2a4541;
  --ec-primary-color-900: #263b39;
  --ec-primary-color-950: #122120;

  --ec-accent-color-50: #e9f4f0;
  --ec-accent-color-100: #d9eee6;
  --ec-accent-color-200: #b3dccf;
  --ec-accent-color-300: #85c3b1;
  --ec-accent-color-400: #5ca592;
  --ec-accent-color-500: #428a78;
  --ec-accent-color-600: #336e61;
  --ec-accent-color-700: #2c594f;
  --ec-accent-color-800: #274842;
  --ec-accent-color-900: #243d39;
  --ec-accent-color-950: #10231f;

  --ec-primary-color: var(--ec-primary-color-200);
  --ec-primary-color-hover: var(--ec-primary-color-300);
  --ec-accent-color: var(--ec-accent-color-50);
  --ec-accent-color-hover: var(--ec-accent-color-100);

  /* Fonts */
  --ec-heading-font: 'Crake', serif;
  --ec-body-font: 'Inter', sans-serif;
  --ec-font-color: rgb(62, 72, 73);
  --ec-line-height: 1.5;
  --ec-font-weight: 400;
  --ec-font-size: 16px;

  /* Borders */
  --ec-border-color: rgba(0, 0, 0, 0.1);
  --ec-border-radius-xs: 4px;
  --ec-border-radius-sm: 8px;
  --ec-border-radius-md: 16px;
  --ec-border-radius-lg: 20px;
  --ec-border-radius-xl: 24px;

  /* Spacing */
  --ec-spacing-xxs: 4px;
  --ec-spacing-xs: 8px;
  --ec-spacing-sm: 16px;
  --ec-spacing-md: 24px;
  --ec-spacing-lg: 32px;
  --ec-spacing-xl: 40px;
  --ec-spacing-xxl: 48px;

  /* Box shadows */
  --ec-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);

  /* Transitions */
  --ec-transition: all 0.3s ease-in-out;
  --ec-transition-fast: all 0.1s ease-in-out;
  --ec-transition-slow: all 0.5s ease-in-out;
  --ec-transition-cubic: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --ec-transition-cubic-fast: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  --ec-transition-cubic-slow: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  --ec-transition-linear: all 0.3s linear;
  --ec-transition-linear-fast: all 0.1s linear;
  --ec-transition-linear-slow: all 0.5s linear;
  --ec-transition-ease-in: all 0.3s ease-in;
  --ec-transition-ease-in-fast: all 0.1s ease-in;
  --ec-transition-ease-in-slow: all 0.5s ease-in;
  --ec-transition-ease-out: all 0.3s ease-out;
  --ec-transition-ease-out-fast: all 0.1s ease-out;
  --ec-transition-ease-out-slow: all 0.5s ease-out;
  --ec-transition-ease-in-out: all 0.3s ease-in-out;
  --ec-transition-ease-in-out-fast: all 0.1s ease-in-out;
  --ec-transition-ease-in-out-slow: all 0.5s ease-in-out;
  --ec-transition-none: none;
}

html,
body {
  font-family: var(--ec-body-font);
  line-height: var(--ec-line-height);
  font-weight: var(--ec-font-weight);
  font-size: var(--ec-font-size);
  color: var(--ec-font-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// Media queries
:root {
  @media screen and (max-width: 510px) {
    --product-list-grid-gap: var(--ec-spacing-xs, 8px);
    --product-list-grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  @media screen and (max-width: 768px) {
    --order-lines-remove-position: absolute;
    --order-lines-remove-top: 0;
    --order-lines-remove-right: 0;
  }

  @media screen and (min-width: 768px) {
    --order-lines-item-image-width: 128px;
    --order-lines-item-image-height: 128px;

    --cart-price-flex: 0 0 30%;
    --cart-price-align-self: flex-start;

    --order-confirmation-header-flex-direction: row;
    --order-confirmation-header-justify-content: flex-start;
    --order-confirmation-header-gap: 48px;
    --order-confirmation-header-item-flex-direction: column;
    --order-confirmation-header-item-width: auto;

    --product-detail-brand-margin-bottom: 8px;
    --product-detail-title-font-size: 50px;
    --product-detail-price-font-size: 26px;

    --product-list-item-padding: var(--ec-spacing-md, 24px);

    --search-field-background-color-overlay-background: rgba(0, 0, 0, 0.2);
  }

  @media screen and (min-width: 1080px) {
    --product-detail-image-slider-border: 1px solid rgba(0, 0, 0, 0.1);
    --product-detail-image-slider-border-radius: var(--ec-border-radius-lg, 20px);
  }
}
