.Checkout {
  background-color: var(--White);
  border-radius: 20px;

  .checkout-step {
    overflow: hidden;
    padding: 0 24px;

    .checkout-step-header {
      display: flex;

      .checkout-step-trigger {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 24px 0;
        gap: 8px;

        .checkout-step-number {
          align-items: center;
          background-color: var(--White);
          border-radius: 50%;
          color: var(--Almost-Black);
          display: flex;
          font-size: 14px;
          font-weight: 600;
          height: 36px;
          width: 36px;
          justify-content: center;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }

        .checkout-step-title {
          color: var(--AlmostBlack);
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
          line-height: 130%;
        }

        &.current {
          .checkout-step-number {
            background-color: var(--Blue-Light);
            border-color: var(--Blue-Light);
          }
        }
      }
    }

    .checkout-step-content {
      padding-bottom: 24px;
      border-bottom: 1px solid var(--Gray-Light);
    }
  }

  .country-picker {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .error {
      color: red;
      font-size: 12px;
    }

    label {
      color: var(--Almost-Black, #3e4849);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
    }

    select {
      width: 100%;
    }
  }

  .BillingAddress,
  .ShippingAddress,
  .CustomerInformation {
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  .PaymentMethod {
    .error {
      color: red;
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  .ShippingMethod {
    form {
      display: flex;
      flex-direction: column;
      gap: 24px;

      label {
        gap: 10px;
        display: flex;
        flex-direction: row;
      }

      input {
        width: 20px;
        height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }

      input:checked {
        border: none;
      }
    }
  }

  .adress {
    .addressCheckbox {
      margin-top: 24px;
      label {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: var(--Almost-Black, #3e4849);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
      }
      input[type='checkbox'] {
        width: 20px;
        height: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        input:checked {
          background-color: red;
        }
      }
    }

    .orgnumber-field {
      margin-bottom: 24px;
      .error {
        font-size: 12px;
        color: var(--Red, #ef7e6f);
      }
      label {
        color: var(--Almost-Black, #3e4849);
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
      }
      input {
        width: 100%;
      }
    }

    .order-message {
      margin-top: 20px;
      label {
        color: var(--Almost-Black, #3e4849);
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
      }
      textarea {
        width: 100%;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: var(--White, #fff);
        padding: 8px 16px;
      }
    }

    .billingAddress {
      margin-top: 24px;

      h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        color: var(--Almost-Black, #3e4849);
      }
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}
