.search {
  border-radius: 20px;
  background: var(--White);
  position: relative;

  .searchProuducts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;

    .searchField {
      width: calc(100% - 32px);
      height: 40px;
      border-radius: 100px;
      background: var(--Gray-Light);
      font-size: 14px;
      font-weight: 500;
      line-height: 160%; /* 22.4px */
      letter-spacing: -0.14px;
      color: var(--Gray);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 16px;

      input {
        width: 90%;
        background-color: transparent;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .searchResults {
    position: absolute;
    padding: 16px;
    border-radius: 20px;
    background: var(--White);
    width: 100%;

    .searchList {
      display: flex;
      flex-direction: column;

      .collection {
        display: flex;
        flex-direction: row;
        gap: 13px;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 16px;

        &:hover {
          cursor: pointer;
        }

        img {
          width: 54px;
          height: 54px;
          object-fit: cover;
          border-radius: 8px;
          background: var(--Blue-Light);
        }
        p {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
      }

      .productList {
        display: flex;
        flex-direction: column;
        .product {
          display: flex;
          flex-direction: row;
          gap: 13px;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;

          &:hover {
            cursor: pointer;
          }
          .productData {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 13px;
            img {
              width: 54px;
              height: 54px;
              object-fit: cover;
              border-radius: 8px;
              background: var(--Blue-Light);
            }
          }
          .price {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            color: var(--Almost-Black);
          }
        }
      }
    }
  }
}
