.CartPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-grow: 1;

  @include media-breakpoint('tablet') {
    flex-direction: row;
  }

  .cart-orderlines {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-self: stretch;
  }

  .cart-summary {
    flex: 1;
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    @include media-breakpoint('tablet') {
      flex: 0 0 30%;
      align-self: flex-start;
    }

    .cart-page-button {
      width: 100%;
    }
  }

  .cart-summary-mobile {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    align-items: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 98px;
    padding: 16px 24px;
    background-color: white;
    border-radius: var(--varukorg, 0px);
    border-top: 1px solid #dedede;
    flex-wrap: wrap;
    gap: 15px;
    z-index: 1000;

    .total-price {
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      color: var(--Almost-Black, #3e4849);
    }

    @include media-breakpoint('tablet') {
      display: none;
    }
  }
}
