:root {
  --product-card-border-radius: var(--Border-Radius-Large, 20px);
  --product-card-background: var(--White, #fff);
  --product-card-info-color: var(--Almost-Black, #3e4849);
  --product-card-info-brand-color: var(--Almost-Black, #3e4849);
  --product-card-info-name-color: var(--Almost-Black, #3e4849);
  --product-card-info-price-color: var(--Almost-Black, #3e4849);
  --product-card-padding: var(--Padding-XLarge, 24px);

  --pagination-text-color: var(--Almost-Black, #3e4849);
  --pagination-progress-height: 2px;
  --pagination-progress-background-color: var(--Gray-Medium);
  --pagination-progress-bar-color: var(--Almost-Black);

  --filter-trigger-background-color: var(--Blue);
}

.ProductList {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 8px;

  @include media-breakpoint('tablet') {
    grid-template-columns: repeat(auto-fit, minmax(263px, 1fr));
    gap: 24px;
  }

  .product-list-product-card {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: var(--product-card-border-radius);
    border: 1px solid var(--Border-Color);
    background: var(--product-card-background);
    padding: 24px;

    .product-image-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--Padding);

      .product-image {
        width: 100%;
        object-fit: contain;
        aspect-ratio: 1/1;
        transition: transform 0.15s ease-out;
      }

      &:hover {
        cursor: pointer;

        .product-image {
          transform: scale(1.05);
        }
      }
    }

    .product-info {
      color: var(--product-card-info-color);
      padding: 0 var(--Padding-XLarge, 24px);

      .product-brand {
        color: var(--product-card-info-color);
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%; /* 21px */
      }

      .product-name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        align-self: stretch;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        font-weight: 600;
        line-height: 150%; /* 24px */
      }

      .product-price {
        font-size: 14px;
        text-align: center;
        font-weight: 600;
        line-height: 150%;
      }
    }
  }

  .product-list-pagination {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    color: var(--pagination-text-color);
    font-weight: 400;
    line-height: 150%; /* 24px */
    width: 180px;
    margin: 24px auto;
    grid-column: 1 / -1;

    .pagination-progress {
      width: 100%;
      height: var(--pagination-progress-height);
      overflow: hidden;
      border-radius: 999px;
      background-color: var(--pagination-progress-background-color);

      .pagination-progress-bar {
        height: 100%;
        background-color: var(--pagination-progress-bar-color);
      }
    }

    .pagination-buttons {
      margin-top: 12px;
      width: 100%;

      .load-more-button {
        width: 100%;
      }
    }
  }

  .product-list-sort {
    grid-column: 1 / -1;
    margin-bottom: 16px;

    @include media-breakpoint('tablet') {
      margin-bottom: 0;
    }
  }
}
